<!DOCTYPE html>
<html>
<head>
	<title>1111</title>
	<script src="vue.js"></script>

	<script type="text/javascript" src="./jq.js"></script>
</head>
<body>
	<div id="app" 	v-bind:title="message1">
	<p v-if="seen">{{message}}-----</p>
	<ol ><li v-for="todo in todos" v-on:click="reverseMessage">{{todo.text}}</li></ol>	
</div>

<script type="text/javascript">
	var app = new Vue({ 
    el: '#app',
    data: {
        message: 'Hello Vue2!',
        message1: '???'+new Date().toLocaleString(),
        seen:true,
        todos:[	{text:'床前明月光'},
        		{text:'疑是地上霜'},
        		{text:'举头望明月'},
        		{text:'低头思故乡'}
        		]
        	},
         methods: {	
    	    reverseMessage:function(e){
    		e.currentTarget.innerHTML=e.currentTarget.innerHTML.split('').reverse().join('')
    		 	   }
    	}
});
</script>
</body>
</html>